<main>
   {{!-- header nav --}}
   <div class="card mb-2">
   {{#with navigation}}
      <div class="nav">
      {{#each links}}
         {{#if href}}
         <div class="nav-item">
            <a href="href" class="nav-link">{{text}}</a>
         </div>
         {{else}}
         <div class="nav-item">
            <a href="href" class="nav-link disabled">Disabled</a>
         </div>
         {{/if}}
      {{/each}}             
      </div>
   {{/with}}
   </div>
{{!-- main block--}}   
   <div>
   {{#with header}}
      <h1>{{title}}</h1>
      {{#with button}}
         <a href="{{link}}" class="btn btn-putline-secondary">{{yexy}}</a>
      {{/with}}
   {{/with}}
   </div>
   <hr class="my-2">




{{!-- close main block--}}      
   {{!-- footer nav --}}
   <hr class="my-2">
   <div class="row my-3">
      {{#each footer}}   
         <div class="col-2">
            <div class="nav flex-column">
               <a href="{{0.link}}" class="nav-item nav-link">{{0.text}}</a>
               <a href="{{1.link}}" class="nav-item nav-link">{{1.text}}</a>
               <a href="{{2.link}}" class="nav-item nav-link">{{2.text}}</a>
               <a href="{{3.link}}" class="nav-item nav-link disabled">{{3.text}}</a>
            </div>
         </div>
      {{/each}}
   </div>
   <hr>
</main>