{{#with web}}
   <main>
      <div>
         <h1>Main tools for Frontend developer</h1>
         <dl>
            {{#each languages}}
               <dt><strong> {{name}} </strong>
                  - ver:
                  {{version}}
               </dt>
               <dd> {{description}} </dd>
               <br />
            {{/each}}
         </dl>
      </div>

      <div>
         {{#each languages}}
            <div>
               <h2>About {{name}}</h2>
               {{#if elements}}
                  <ul>
                     {{#each elements}}
                        <li>
                           <h3><strong>{{name}}</strong>
                              -
                              {{description}}</h3>
                           <p>main attributes:</p>
                           <ul>
                              {{#each attributes}}
                                 <li>
                                    <strong
                                    >{{name}}</strong>
                                    -
                                    {{description}}
                                 </li>
                              {{/each}}
                           </ul>
                        </li>
                     {{/each}}
                  </ul>
               {{/if}}
               {{#if properties}}
                  <ul>
                     {{#each properties}}
                        <li>
                           <h3><strong>{{name}}</strong>
                              -
                              {{description}}</h3>
                           <p>main attributes:</p>
                           <ul>
                              {{#each values}}
                                 <li>
                                    <strong
                                    >{{value}}</strong>
                                    -
                                    {{description}}
                                 </li>
                              {{/each}}
                           </ul>
                        </li>
                     {{/each}}
                  </ul>
               {{/if}}
               {{#if functions}}
                  <ul>
                     {{#each functions}}
                        <li>
                           <h3><strong>{{name}}</strong>
                              -
                              {{description}}</h3>
                           <p>main attributes:</p>
                           <ul>
                              {{#each parameters}}
                                 <li>
                                    <strong
                                    >{{name}}</strong>
                                    - {{type}}
                                    <p></p>{{description}}</p>
                                 </li>
                              {{/each}}
                           </ul>
                        </li>
                     {{/each}}
                  </ul>
               {{/if}}
            </div>
         {{/each}}
      </div>
      <br /><hr />

   </main>
{{/with}}