{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

<head>
      <title>
         {{page.title}}
      </title>
      <meta charset='utf-8' />
      <link href='css/index.css' rel='stylesheet' />
</head>

<body>
   <section>
      {{>nav }}
   </section>

      <br />
      <hr />

      {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
   {{{body}}}

      <br />
      <hr />

   {{> footer social=footer.social adres=header.address firstname=header.name.firstname lastname=header.name.lastname}}
   
   {{!--  це старий варіант для footer
      {{#with footer}}
      <footer class='footer-block'>
      <div>
         {{#with social}}
            {{> footerlink text=email.text href=email.href }}
            {{> footerlink text=phone.text href=phone.href }}
            {{> footerlink text=linkedin.text href=linkedin.href blank=true noLine='false'}}   
         {{/with}}
      </div>
      <div>
         Copyright by {{../header.name.firstname}} {{../header.name.lastname}}
      </div>
      <br/>
      <div>
         {{../header.address}}
      </div>
      </footer>
   {{/with}} --}}
</body>

</html>